body{
background-color:#24323d;
color:white;
font-family: Arial, Helvetica, sans-serif;
margin:0;
padding:0;
}

.contenido{
display:flex;
justify-content:center;
align-items:center;
min-height:100vh;
}

.card{
background:#2f3e4a;
padding:40px;
border-radius:10px;
width:400px;
text-align:center;
box-shadow:0px 5px 15px rgba(0,0,0,0.3);
}

.titulo{
font-size:32px;
margin-bottom:25px;
}

.estrellas button{
background:none;
border:none;
font-size:40px;
cursor:pointer;
transition:0.2s;
}

.estrellas button:hover{
transform:scale(1.3);
}